<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	">

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.finance.p2p.interceptor.PermissionInterceptor">
				<!-- 不需要校验 -->
				<property name="uncheckUrls">
					<list>
						<value>/</value>
						<value>/index</value>
						<value>/forgot</value>
						<value>/logout</value>
						<value>/login</value>
						<value>/register</value>
						<value>/timeout</value>
						
						<value>/sys/login</value>
						<value>/sys/register</value>
						<value>/sys/checkPhone</value>
						<value>/sys/forgot</value>
						
						<value>/sms/send</value>
						
						<value>/task/*</value>
					</list>
				</property>
				<!-- 根据域名或IP来判断是否过滤 -->
				<property name="domainOrIps">
					<list>
						<value>localhost</value>
						<value>127.0.0.1</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>