<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finance.p2p.dao.ReleaseMapper" >
  <resultMap id="BaseResultMap" type="com.finance.p2p.entity.Release" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="sum_num" property="sumNum" jdbcType="INTEGER" />
    <result column="used_num" property="usedNum" jdbcType="INTEGER" />
    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, sum_num, used_num, sell_num, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p2p_release
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p2p_release
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.finance.p2p.entity.Release" >
    insert into p2p_release (user_id, sum_num, used_num, 
      sell_num, create_time, modify_time
      )
    values (#{userId,jdbcType=BIGINT}, #{sumNum,jdbcType=INTEGER}, #{usedNum,jdbcType=INTEGER}, 
      #{sellNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.finance.p2p.entity.Release" >
    insert into p2p_release
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sumNum != null" >
        sum_num,
      </if>
      <if test="usedNum != null" >
        used_num,
      </if>
      <if test="sellNum != null" >
        sell_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sumNum != null" >
        #{sumNum,jdbcType=INTEGER},
      </if>
      <if test="usedNum != null" >
        #{usedNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.finance.p2p.entity.Release" >
    update p2p_release
    <set >
      <if test="sumNum != null" >
        sum_num = #{sumNum,jdbcType=INTEGER},
      </if>
      <if test="usedNum != null" >
        used_num = #{usedNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        sell_num = #{sellNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.finance.p2p.entity.Release" >
    update p2p_release
    set sum_num = #{sumNum,jdbcType=INTEGER},
      used_num = #{usedNum,jdbcType=INTEGER},
      sell_num = #{sellNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  
  <update id="update" parameterType="com.finance.p2p.entity.Release" >
    update p2p_release
    set sum_num = #{sumNum,jdbcType=INTEGER} + sum_num,
      used_num = #{usedNum,jdbcType=INTEGER} + used_num,
      sell_num = #{sellNum,jdbcType=INTEGER} + sell_num,
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>